@import "compass";

#lcsMainContainer {
	color: #2D2D2D;

	&:after {
		clear: both;
		content: " ";
		display: block;
		visibility: hidden;
	}

	dl {
		color: #696969;
		margin: 0;

		dt {
			font-weight: bold;
		}

		dd {
			margin: 0 0 4px 10px;
		}
	}

	.aui-field-select {
		min-width: 200px;
		width: auto;
	}

	.btn-reset-credentials {
		background-color: #E50000;
	}

	.environment-section {
		.field-content {
			margin-bottom: 0;
		}

		.environment-input-wrapper {
			.field-content {
				margin-top: 0;
			}

			input, select {
				margin-left: 22px;
			}
		}
	}

	.lcs-helper-message {
		display: inline-block;
		font-size: 11px;
		margin: 0 0 10px 22px;
	}

	.lcs-connection-status {
		background-color: #FFF;
		float: left;
		max-width: 300px;
		position: relative;

		& > h4 {
			line-height: 61px;
			margin-bottom: 0;
			padding-left: 10px;
		}

		.lcs-msg {
			border-style: solid;
			border-width: 1px;
			margin-bottom: 16px;
			padding: 10px;

			.lcs-msg-icon {
				background: url(../images/connection_red.png) no-repeat right center;
				display: block;
				height: 61px;
				position: absolute;
				right: 20px;
				top: 0;
				width: 64px;
			}
		}

		.lcs-msg-disconnected .lcs-msg-icon {
			background-image: url(../images/connection_red.png);
		}

		.lcs-msg-pending .lcs-msg-icon {
			background-image: url(../images/connection_orange.png);
		}

		.lcs-msg-registered .lcs-msg-icon {
			background-image: url(../images/connection_green.png);
		}

		.lcs-separator {
			border-color: #EEE;
			margin: 10px 0;
		}
	}

	.lcs-server-info {
		float: left;
		margin: 0 50px 20px 0;
		max-width: 300px;
		word-wrap: break-word;
	}

	.lcs-registration-info {
		display: inline-block;
		margin-top: 0;
	}

	.lcs-environment-input-wrapper {
		display: block;

		.control-group {
			margin-bottom: 0;
		}
	}
}

/* ---------- Extras ---------- */

.btn-reset-credentials {
	@include background-image(linear-gradient(to bottom, #FF0000, #E50000));
}

.lcs-helper-message.disabled {
	@include opacity(0.5);
}