@import "compass";

#wrapper .lcs-portlet .panel-page-body {
	float: left;
	padding-left: 0;
}

.lcs-portlet {
	div.portlet-body {
		background-color: #E8F1F2;
	}

	.environment-section {
		.aui-field-content {
			margin-bottom: 0;
		}

		.environment-input-wrapper {
			.aui-field-content {
				margin-top: 0;
			}

			input, select {
				margin-left: 22px;
			}
		}
	}

	.helper-message {
		font-size: 0.74em;
		margin-left: 22px;

		&.disabled {
			@include opacity(0.5);
		}
	}

	.lcs-cluster-entry-dialog {
		background-color: #FFF;
		padding: 0;
	}

	input {
		&.aui-button-input {
			background: #7F7F7F;
			color: #FFF;
			margin-bottom: 10px;

			&.aui-button-input-submit {
				background: #009D0F;
			}
		}
	}
}