@import "compass";

.feedback-portlet {
	h2 {
		margin-bottom: 1em;
	}

	.feedback {
		padding: 1em;
	}

	.feedback-area {
		height: 500px;
		margin: 25px;
		width: 700px;
	}

	.feedback-bar {
		background: rgba(209,27,27,0.9);
		border-radius: 5px 5px 0 0;
		bottom: 50%;
		color: #fff;
		cursor: pointer;
		padding: 5px 10px 10px 10px;
		position: fixed;
		right: -41px;
		text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
		transform: rotate(-90deg);
		z-index: 2000;
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}

	.feedback-body {
		height: 250px;
		width: 700px;
	}

	.feedback-confirm, .feedback-negative, .feedback-positive {
		display: none;
	}

	.feedback-negative button, .feedback-positve button {
		display: block;
	}

	.feedback-start {
		text-align: center;
	}
}